<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Honey Tip</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div class="jumbotron">
        <h1>꿀팁 작성하기</h1>
        <form method="post" action="/tip/newProcess">
            <p><input type="text" name="title"><p>
            <p><input type="textarea" size="100" name="content"><p>
            <button class="btn btn-outline-info my-2 my-sm-0 btn-sm">Submit</button>
        </form>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>