<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
  <title>Detail</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader" />
  <div class="jumbotron">
    <h3 th:text="${tip.title}" style="text-align:left"></h3>
    <br>
    <br>
    <h3 th:text="${tip.content}" style="text-align:left"></h3>
    <br>
    <br>
    <br>

    <div>
      <p th:text="'작성자 : ' + ${tip.user.nickname}" style="text-align:right"></p>
      <p th:text="'작성일 : ' + ${tip.createdAt}" style="text-align:right"></p>
      <br>
      <div align="right">
        <form th:action="@{/tip/{tipId}/edit (tipId=${tip.id})}" method="get" style="display:inline">
          <button class="btn btn-outline-warning my-2 my-sm-0 btn-sm">수정</button>
        </form>

        <form th:action="@{/tip/{tipId}/deleteProcess (tipId=${tip.id})}" method="post" style="display:inline">
          <button class="btn btn-outline-danger my-2 my-sm-0 btn-sm">삭제</button>
        </form>
      </div>
    </div>
  </div>
  <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>