<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <a href="/tip/new">꿀팁 작성하기</a>

    </div>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="tip : ${tips}"
                th:onclick="'window.location.href = \'' + @{/tip/{id}(id=${tip.id})} + '\''"
                th:onmouseover="background: #000">
                <td th:text="${tip.title}"></td>
                <td th:text="${tip.user.nickname}"></td>
                <td th:text="${tip.createdAt}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>